spacy[cuda110]==3.2.3
tqdm==4.64.0
pandas==1.4.1
scikit-learn==1.1.2
tensorboardX==2.5.1
datasets==2.4.0
seqeval==1.2.2
transformers==4.21.1
imageio==2.16.1
keras==2.8.0
livelossplot==0.5.4
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.1
seaborn==0.11.2
flair==0.11.2
torch==1.11.0
nltk==3.7
sacremoses==0.0.49
pyannote.metrics==3.2.1
spacy==3.2.3
spacy-legacy==3.0.9
spacy-loggers==1.0.1
